---
const {width, height} = Astro.props;
const socialLinks = [
	{
		title: 'LinkedIn',
		icon: 'simple-icons:linkedin',
		href: 'https://www.linkedin.com/in/nicolasdominici/',

	},
	{
		title: 'X',
		icon: 'ri:twitter-x-fill',
		href: 'https://x.com/n1c0_dev',

	},
	{
		title: 'GitHub',
		icon: 'mdi:github',
		href: 'https://github.com/nicoware-dev',
	},
	{
		title: 'CV',
		icon: 'tabler:file-cv',
		href: '../docs/cv_nicolas_dominici.pdf',

	},
];
---

<div class="icons__container">
    {
        socialLinks.map((data) => (
            <a
                href={data.href}
                target="_blank"
                rel="nofollow noreferrer noopener"
                class="icon-link"
            >
                <iconify-icon
                    class={`skill__icon ${data.title}`}
                    icon={data.icon}
                    width={width}
                    height={height}
                />
            </a>
        ))
    }
</div>

<style>
    .icons__container {
        display: flex;
        align-items: center;
        gap: 2rem;
        width: fit-content;
    }

    .icon-link {
        color: var(--primary-90);
        transition: color 0.3s ease;
    }

    .icon-link:hover {
        color: var(--accent);
    }
</style>